@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

body {
    display: flex;
    flex: auto;
    justify-content: center;
    background-color: #121212;
    overflow-x: hidden;
    margin: 0;
}

body, html {
    height: 100%;
    padding: 0;
    width: 100vw;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rank-icon {
    width: 8rem;
}

.zac, .jhin {
    
    max-width: 100%;
    border-radius: 25px;
   min-height: 100%;
}

.hamza-container, .kareem-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    min-height: 80%;
}

.main-container {
    display: grid; /* Change display to grid */
    grid-template-columns: 45% 15% 45%; /* Create a two-column layout */
    gap: 2rem; /* Add gap between columns */
    justify-items: center; /* Center the content horizontally in each column */
    align-items: center; /* Center the content vertically */
    height: 100%;
    width: 100%;
    
    
}
/* Styles for small screens */
@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 100%; /* Single column layout for small screens */
    }
    .main-container > div {
       margin: 2rem;
        
    }

    .zac,
    .jhin {
        width: 80%; /* Expand images to fill the column width */
        height: auto; /* Allow images to scale proportionally */
    }

    .hamza-container,
    .kareem-container {
        min-height: auto; /* Allow containers to adjust based on content */
    }
    .vs {
        max-width: 40%;
        height: auto;
    }
    
}

/* Styles for medium to large screens */
@media (min-width: 769px) {
    .main-container {
        display: flex; /* Change back to display flex */
        flex-wrap: wrap; /* Wrap items to new line when there's not enough space */
        justify-content: center;
    }

    .main-container > div {
        flex: 1; /* Each column takes equal width */
        max-width: 30%; /* Limit the width of each column */
        
    }
    

    .zac,
    .jhin {
        width: 100%; /* Expand images to fill the column width */
        height: auto; /* Allow images to scale proportionally */
    }

    .vs {
        max-width: 50%;
        height: auto;
    }
}

h2 {
    color: whitesmoke;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

h3 {
    color: whitesmoke;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: xx-large;
}

.vs {
    width: 80%;
    height: 80%;
}

.k-wr-txt, .h-wr-txt {
    letter-spacing: 2px;
}
.user-name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding-left: 1rem;
}
.live-ham, .live-kar{
    width: 2rem;

    
}
.timer {
    width: 90%;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4rem;
}

.mid {
    font-family: 'Anton', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
